<!DOCTYPE html>

<html>
    <head>
        <title>Movie Keeper</title>

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
        .mySlides {display:none}
        .w3-tag, .fa {cursor:pointer}
        .w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
        </style>
        <style media="screen">
          .corpo {
            background-color: #ffffff;
            background-image: url("https://i.ibb.co/CnGVhXd/background.jpg");
          }
        </style>
    </head>

    <body class="corpo">
        <div class="bg-info">
            <div class="row">
                <div class="col-md-6 offset-md-3" style="background-color: #6666;margin-top: 50px;padding:50px;">
                  {{{body}}}
                </div>
            </div>
        </div>
    </body>

</html>
