<style media="screen">
    h1{
      font-family: Broadway;
      color: whitesmoke;
      text-shadow: 3px 3px 3px #000000;
    }
    a{
      color: black;
      text-shadow: 3px 3px 3px white;
    }
</style>

<h1>Registro de filmes da locadora</h1>
<br>
<a class="btn btn-secondary" href="/addOrEdit"><i class="fa fa-list-alt"></i> Registrar Filmes</a>
<br>
<a class="btn btn-secondary" href="/list"><i class="fa fa-list-alt"></i> Ver todos</a>
